profile=janestreet
# function-indent=4
# extension-indent=4
# indent-after-in=4
# let-binding-indent=4
# match-indent=4
# cases-exp-indent=4
# # indent=4
# type-decl-indent=4
# doc-comments-padding=4
# cases-exp-indent=4
# break-cases=toplevel
if-then-else=k-r
margin=80